

<div class="fh5co_tags_all" *ngFor="let category of categories" >
  <a routerLink="./category/{{category.name}}" class="fh5co_tagg">{{category.name}}</a>
  <!-- <a href="#" class="fh5co_tagg">Technology</a>
  <a href="#" class="fh5co_tagg">Sport</a>
  <a href="#" class="fh5co_tagg">Art</a>
  <a href="#" class="fh5co_tagg">Lifestyle</a>
  <a href="#" class="fh5co_tagg">Three</a>
  <a href="#" class="fh5co_tagg">Photography</a>
  <a href="#" class="fh5co_tagg">Lifestyle</a>
  <a href="#" class="fh5co_tagg">Art</a>
  <a href="#" class="fh5co_tagg">Education</a>
  <a href="#" class="fh5co_tagg">Social</a>
  <a href="#" class="fh5co_tagg">Three</a> -->
</div>
