{% extends "auctions/layout.html" %}

{% block content %}

<br>

<!--================Login Box Area =================-->
<section class="login_box_area section_gap" style="margin-top:20px;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="https://2mao.pt/assets/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Primeira vez que entra na 2Mão?</h4>
                        <p>Excelente, pode criar aqui a sua conta</p>
                        <a class="primary-btn" href="{% url 'register' %}">Registar-se</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Esqueceu-se da sua Password?</h3>
                    
                    <form class="row login_form" method="post">
                        {% csrf_token %}
                         {{ form.as_p }}
                        <div class="col-md-12 form-group">
                            <button type="submit" class="primary-btn">Enviar um email</button>
                        </div>                        
                                            
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

    
{% endblock %}