{% extends "auctions/layout.html" %}

{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Entre em contacto connosco</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

    <br>
    
<div class="row" style="margin-left: 10%; margin-right: 10%; margin-top: 10%; margin-bottom: 10%;">
    
    <h2>Entre em contacto connosco: </h2>
    <form action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputEmail4" placeholder="Nome" name="message_name">
            </div>
            <div class="form-group col-md-6">
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="message_email">
            </div>

            <div class="col-12" style="margin-bottom: 2%;">
                <textarea class="form-control mb-30" name="message" placeholder="Mensagem"></textarea>
            </div>
            
        <button type="submit" class="btn btn-primary" style="margin-left: 1%; height: 40px;">Enviar Mensagem</button>

        {% if message %}
        <div class="alert alert-success" style="height: 40px; margin-left: 1%; padding: 10px;">{{ message }}</div>
        {% endif %}


      </form>
</div>
</div>
{% endblock %}