{% extends 'auctions/dashboard.html' %}
{% block publicados %}
<div class="row">
    {% for product in sellers %}
    <!-- single product -->
    <div class="col-lg-4 col-md-6">
        <div class="single-product" style="background-color: white;">
            <a href="{% url 'viewlisting' product.id %}"><img class="img-fluid" src="{{ product.imagem1.url }}" alt=""></a>
            <div class="product-details"> <center>
                <div class="price">
                    <h6>{{ product.title }}</h6> <br>       
                    <h6>Licitação Actual: €{{ product.starting_bid}}</h6>
                    <h6>Leilão termina em: {{ product.deadline|timeuntil }}!</h6>
                </div>  <br>                            
                <a href="{% url 'viewlisting' product.id %}" class="primary-btn" style="border-radius: 2px;">Visualizar</a>
                
            </center>
            </div>
        </div>
    </div>
    {% endfor %}
                        
    {% include 'auctions/paginator.html' with page=products %}
</div>
{% endblock %}