{% extends "auctions/layout.html" %}
<title>{% block title %}2ª Mão | Resultados da Pesquisa{% endblock %}</title>
{% block content %}
    <br>
    



<!-- start product Area -->
<section >
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <br>                        
                        <div id="searchWrapper">
                            <p>Pode procurar aqui o seu leilão:</p>
                            <form action="{% url 'resultados' %}" method="GET">
                                <input type="text" name="q" value="{{request.GET.q}}" placeholder="Procurar">
                            </form>                        
                        </div>
                </div>
            </div>
            <div class="row">
                {% if message %}
                    <div class="alert alert-danger" style="height: 30px;">{{ message }}</div>
                {% endif %}
                <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-content: flex-start; align-items: center; justify-content: center;">
                    {% for post in results %}
                    <div style="min-width: 300px; margin: 3px;">
                        <a href="{% url 'viewlisting' post.id %}" style="text-decoration: none;">
                        <div class="profile-card-4 text-center" style="height:500px;">
                            <img src="{{ post.imagem1.url }}" style="max-height: 300px;" alt="{{ post.title }}" class="img img-responsive">
                            <div class="profile-content">
                                
                                <div class="profile-description"> <h5>{{ post.title }}</h5><p> {{ post.excerpt }}</p></div> 
                                <div class="row2" style="display: flex; justify-content: center; align-items: center;">
                                    <div class="col-xs-4" style="margin-left: 5px;">
                                        <div class="profile-overview">
                                            <p>DEADLINE</p>
                                            <h4>{{ post.deadline|timeuntil}}</h4></div>
                                    </div>
                                    <div class="col-xs-4" style="margin-left: 10px;"> 
                                        <div class="profile-overview">
                                            <p>OFERTA ACTUAL</p>
                                            <h4>€{{ post.starting_bid}}</h4></div>
                                    </div>
                                    <!--<div class="col-xs-4" style="margin-left: 10px;">
                                        <div class="profile-overview">
                                            <p>DESDE:</p>
                                            <h4>{{product.created_at|date}}</h4></div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                    {% include 'auctions/paginator.html' with page=products %}
                </div>

            </div>
        </div>
    </div>
    <!-- single product slide -->
    
</section>
<!-- end product Area -->


{% endblock %}