{% extends "auctions/layout.html" %}
<title>{% block title %}2ª Mão | Termos & Condições{% endblock %}</title>
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Termos & Condições</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="row" class="tc" style="margin-left: 10%; margin-right: 10%; margin-top: 5%; margin-bottom: 5%;">
    <h2>Condições Gerais de Compra e Venda em Leilão na 2Mao</h2>
    <p>Bem-vindo ao 2 Mao.pt. Leia atentamente as presentes Condições Gerais de Utilização e, também, as Condições Particulares de Utilização.</p>
    <p>O 2Mao.pt é um Portal de leilões para artigos tecnológicos, que proporciona aos seus utilizadores um espaço na internet para fazerem leilões com uma 
        certificação do material vendido.</p>
    <p>O registo no 2mao.pt é gratuito. Todos os anúncios devem cumprir com as leis de Portugal. 
        Não são permitidos anúncios com conteúdo ofensivo ou discriminatório a grupos étnicos, figuras públicas ou particulares.
        </p>
    
    <h4 style="margin-top: 2%; margin-bottom:2%;">Definições</h4>
    <p><strong>2Mao Portugal</strong>: utiliza a marca registada 2Mao e exerce a atividade leiloeira, organizando e dirigindo os leilões, atuando na qualidade de intermediária.</p>
    <p><strong>Leilão</strong>: a oferta de um artigo para compra, através de um procedimento de licitação dirigido por um leiloeiro.</p>
    <p><strong>Leiloeiro</strong>: sitio online da 2Mao (www.2mao.pt).</p>
    <p><strong>Participante</strong>: qualquer pessoa registada para licitar em determinado leilão.</p>
    <p><strong>Vencedor</strong>: vencedor do leilão.</p>
    <p><strong>Vendedor</strong>: proprietário ou seu representante, devidamente credenciado, que inscreva o bem para ser leiloado.</p>
    <p><strong>Artigo</strong>: toda e qualquer espécie de produto tecnológico em hardware.</p>
    <p><strong>Ficha do artigo</strong>: documento a preencher pelo Vendedor com a descrição de todas as informações relativas ao bem a apresentar a leilão.</p>
    <p><strong>Licitação</strong>: todo e qualquer preço oferecido pelos Participantes para determinado artigo.</p>
    <p><strong>Preço mínimo</strong>: preço mínimo pretendido pelo Vendedor para o artigo a ser leiloado e que é informação não pública.</p>
    <p><strong>Preço base</strong>: preço base pretendido pelo Vendedor para o artigo a ser leiloado e que é publicado no início do leilão.</p>
    <p><strong>Preço de leilão</strong>: maior lance oferecido num leilão relativamente a um determinado artigo, que representa o seu valor de venda, desde que atinja ou ultrapasse o seu Preço base ou, em caso dos Leilões Invertidos, o Preço Mínimo.</p>
    <p><strong>Comissão de venda</strong>: remuneração devida à 2Mao pelo Vendedor, referente a cada artigo vendido num determinado leilão.</p>
    <p><strong>VDC (valor devido pelo Vendedor)</strong>: corresponde ao valor a entregar ao Vendedor de determinado artigo, constituído pela soma do preço de venda, comissão de venda e preço de outros serviços por este requisitados, bem como de todos os impostos ou taxas devidas ao Estado ou a qualquer outra entidade pública.</p>
    <p><strong>VDV (valor devido pelo Vencedor)</strong>: corresponde ao valor a entregar pelo Vencedor de determinado Leilão, constituído pelo Preço de Leilão, preço de outros serviços por este requisitados, bem como de todos os impostos ou taxas devidas ao Estado ou a qualquer outra entidade pública.</p>
    <p><strong>Relatório de Peritagem</strong>: documento elaborado por um perito registado na 2Mao, resultante de uma avaliação ao estado aparente do artigo.</p>
    <p><strong>Autorização de saída</strong>: significa a permissão de saída de um bem das instalações da 2Mao, emitida por escrito pelos seus serviços competentes.</p>
    <p><strong>Artigo “no estado em que se encontra”</strong>: significa um artigo com informações prestadas apenas pelo Vendedor sobre o seu estado, ou um artigo em relação ao qual, quer pela sua idade, quer pelo seu estado, não seja possível, através do relatório de Peritagem, dar informações mais detalhadas.</p>
    <p><strong>Outros serviços</strong>: todos os serviços requisitados à 2Mao no âmbito da sua atividade, nomeadamente transporte, peritagem, preparação e relatório do artigo.</p>

    <h4 style="margin-top: 2%; margin-bottom:2%;">Objectivos</h4>
    <p>Este documento pretende estabelecer as regras de funcionamento do leilão, os direitos e deveres dos respetivos intervenientes e os princípios de uma salutar 
        relação comercial com a 2Mao.</p>
    <p>Os Participantes que tenham lido e aceite estas Condições ficarão habilitados a licitar em qualquer leilão realizado pela 2Mao, estando, no entanto, 
        sujeitos à aceitação dos Termos e Condições específicas de cada país, que poderão diferir das presentes por motivos relacionados com a legislação 
        aplicável em cada país.</p>
    <p>Tanto a 2Mao, como os Vendedores e Participantes com quem negoceia os artigos, são entidades em permanente evolução inseridas num ambiente igualmente
         dinâmico. Como tal, a 2Mao reserva-se o direito de proceder a alterações a estas Condições periodicamente, notificando eventuais alterações sempre que 
         as mesmas ocorram.</p>

    <h4 style="margin-top: 2%; margin-bottom:2%;">Princípios e Valores da 2Mao</h4>
    <p>Transparência: cada artigo usado é diferente e tem a sua própria história. Nunca será possível à 2MAO conhecer todos os factos relativos aos artigos que leiloa, apesar de envidar todos os esforços para descobrir e informar sobre tudo o que apurar.</p>
    <p>Igualdade de Oportunidades: significa que, num leilão, qualquer Participante tem a mesma oportunidade de adquirir um artigo, independentemente do número de compras que tenha feito ou o canal que tenha escolhido para licitar.</p>
    <p>A 2MAO nunca leiloa artigos em grupo. Leiloaremos os artigos um por um, permitindo aos Participantes adquirirem apenas um artigo de cada vez.</p>
    <p>A 2MAO procura assegurar uma seleção de Vendedores e Vencedores idóneos e cumpridores como forma de prestar serviços eficientes e seguros.</p>

    <h4 style="margin-top: 2%; margin-bottom:2%;">Partes do Contrato de Compra e Venda</h4>
    <p>As partes no contrato de compra e venda de um artigo leiloado são o Vendedor e o Vencedor. A 2MAO atua na qualidade de intermediária do Vendedor nos termos e condições do mandato que lhe é conferido pelo Vendedor na ficha do artigo ou noutro documento válido para o efeito.</p>

    <h4 style="margin-top: 2%; margin-bottom:2%;">Obrigações</h4>
    <h5 style="margin-top: 2%; margin-bottom:2%;">Obrigações do Vendedor</h5>
    <p>O Vendedor deve apresentar o artigo a leilão livre e desonerado, exceto se fizer referência expressa a esse facto. O Vendedor assegura que as informações constantes na ficha do artigo são corretas e que não existe qualquer falsidade ou omissão. O Vendedor obriga-se a entregar à 2MAO:</p>
    <ul>
        <li>O artigo;</li>
        <li>A Ficha do Artigo</li>
        <li>O relatório de Peritagem, se existir</li>
        <li>Uma caução de €50, que será devolvida no momento em que a 2MAO certifique a entrega do artigo ao vencedor.</li>
    </ul>
    <p>O Vendedor deverá preencher a ficha do artigo com todas as informações nela solicitadas, exceto para os casos em que, por acordo escrito, a 2MAO preste o serviço do seu preenchimento, com base nas informações comunicadas pelo Vendedor por outra via escrita.</p>
    <p>Com o preenchimento da ficha do artigo e sua aceitação pela 2MAO, o Vendedor obriga-se a apresentar a leilão o referido artigo.</p>
    <p>O Vendedor é o único responsável pela falsidade, incorreção ou omissão de quaisquer elementos constantes na ficha do artigo, ou por quaisquer outras informações ou garantias prestadas.</p>

    <h5 style="margin-top: 2%; margin-bottom:2%;">Obrigações do Participante e do Vencedor</h5>
    <p>Apenas poderão ser Participantes/Vencedores as pessoas singulares ou coletivas com registo efetuado no sitio eletrónico da 2MAO.</p>
    <p>O Vencedor obriga-se a aceitar o estado que um artigo leiloado revele através de uma verificação virtual.</p>
    <p>O Vencedor obriga-se a levantar o artigo após a emissão da autorização de saída pela 2MAO. Se o Vencedor não levantar o artigo no prazo de quinze dias contados da data de emissão da autorização de saída pela 2MAO, esta fica expressamente mandatada pelo Vencedor, sem prejuízo do valor devido pelo parqueamento, a releiloar o artigo, sem qualquer preço de reserva, nomeadamente para fazer face aos seus créditos perante o Vencedor, entregando a este o valor da venda deduzido do VDV.</p>
    <p>Com a autorização de saída dada pela 2MAO, o Vencedor assume (inclusive, perante a pessoa ou entidades em nome de quem figure o registo de propriedade do artigo) todas as responsabilidades resultantes de quaisquer danos, prejuízos, impostos, multas, coimas ou quaisquer procedimentos legais subsequentes relacionados direta ou indiretamente com a posse ou uso do artigo.</p>
    <p>O Vencedor obriga-se a entregar pontualmente o VDC. Se qualquer cheque entregue pelo Vencedor não for pago na sua primeira apresentação ao Banco, o Vendedor, sem prejuízo de outros direitos, poderá retomar a posse do artigo. </p>

    <h4 style="margin-top: 2%; margin-bottom:2%;">Catálogos</h4>
    <p>A 2MAO elaborará um catálogo para cada leilão com uma descrição sumária dos artigos a leiloar.</p>
    <p>A existência de qualquer incorreção no referido catálogo não fará a 2MAO incorrer em qualquer responsabilidade.</p>

    <h4 style="margin-top: 2%; margin-bottom:2%;">Condições de Funcionamento, organização e condução dos leilões</h4>
    <p>Nos Leilões da 2MAO quem fizer a maior licitação, acima do Preço Base, ganha, quando terminar o prazo.</p>
    <p>Caso o leilão termine sem nenhuma licitação acima do Preço Base mas com licitações acima do Preço Mínimo o Vendedor é obrigado a aceitar a maior licitação para aquele leilão.</p>
    <p>O vendedor deverá enviar o artigo ao vencedor de imediato, bem-acondicionado para que chegue em perfeitas condições. Ao fim de 15 dias recebe o pagamento pela 2Mao.</p>
    <p>Se o artigo não estiver nas condições apresentadas no leilão, ou tiver chegado com evidentes más práticas de acondicionamento, será devolvido e o montante restituído ao vencedor.</p>
    <p>O vencedor, uma vez vencido o leilão, deve transferir o montante para a conta da 2Mao, no prazo de 2 dias.</p>
    <p>A 2MAO tem, sem necessidade de qualquer tipo de justificação, poder de decisão definitiva sobre:</p>
    <ul>
        <li>Qualquer questão ocorrida no decurso da licitação de determinado artigo;</li>
        <li>Qualquer questão ocorrida após o término do leilão sobre a identificação do Participante que efetuou os  lances e respetivo montante; </li>
        <li>Qualquer disputa ocorrida que implique, na sua opinião, necessidade de anular o leilão de determinado artigo, podendo releiloar tal artigo nesse mesmo leilão ou em qualquer outro.</li>
    </ul>
    <p>A 2MAO reserva-se o direito de retirar um artigo de leilão, mesmo que tenha recebido lances, caso entenda não existirem condições para a sua venda, sem que o eventual Vencedor possa exercer qualquer direito decorrente da sua licitação.</p>
    <p>O Participante é responsável pelos suas licitações, independentemente do resultado da transação, não podendo retirar os mesmos.</p>
    <p>Com a emissão da fatura ao Vencedor e uma vez confirmado o pagamento da mesma, este torna-se o proprietário do artigo. A 2MAO procederá ao registo da transferência de propriedade para nome do Vencedor dentro dos prazos anunciados em leilão.</p>
    <p>A 2MAO tem o direito de proceder à gravação, em suporte magnético ou qualquer outro, de todas as ocorrências dos leilões por si organizados e conduzidos, reservando-se o direito de exibir o conteúdo dessas gravações sempre que tal se revele necessário para esclarecer qualquer dúvida ou para defesa dos seus interesses</p>

    <h4 style="margin-top: 2%; margin-bottom:2%;">Aceitação dos artigos</h4>
    <p>A 2MAO reserva-se o direito de não aceitar determinado artigo para leilão. No caso do preenchimento pela 2MAO da ficha do artigo, esta não será responsável por qualquer inexatidão decorrente de falsidade, incorreção ou omissão da informação que lhe tenha sido disponibilizada pelo Vendedor.</p>
    <p>No caso de ser requisitado à 2MAO o preenchimento da ficha do artigo, esta não carece de assinatura do Vendedor e terá a sua tácita aceitação, sem prejuízo do disposto no ponto anterior.</p>
    <p>O Vendedor autoriza a 2MAO a tornar públicos, para efeito de leilão, todos os elementos constantes da ficha do artigo.</p>
    <p>O Vendedor pode apresentar a leilão um artigo “no estado em que se encontra”, desde que faça constar tal facto na ficha do artigo.</p>
    <p>Um artigo apresentado a leilão “no estado em que se encontra” exime o Vendedor de qualquer responsabilidade decorrente do mau estado geral da viatura, nomeadamente defeitos, deterioração ou falta de quaisquer órgãos ou componentes.</p>
    <p>O Vencedor de um artigo apresentado a leilão com a referência “no estado em que se encontra”, na respetiva ficha do artigo, no catálogo ou na informação fornecida para cada artigo eletronicamente, assume totalmente o risco da compra do artigo nessas condições, não tendo direito a apresentar qualquer reclamação.</p>

    <h4 style="margin-top: 2%; margin-bottom:2%;">Tabela de Preços</h4>
    <p>A 2MAO tem uma tabela de preços dos seus serviços, atualizável sem aviso prévio, que incluirá a taxa de transporte, a comissão de venda, a avaliação do especialista, bem como o preço de todos os outros serviços que disponibilize.</p>
    <p>A tabela de preços dos serviços da 2MAO estará disponível no momento da criação de cada leilão e na plataforma online.</p>
    <p>A comissão de venda e a taxa de transporte serão devida quando o artigo for vendido ou atingir um valor superior ao Valor Base no caso dos Leilões Clássicos, ou um valor entre o Preço Base e o Preço Mínimo no caso dos Leilões Invertidas.
   </p>

   <p>A 2MAO cobrará ao Vencedor os serviços inerentes ao processo de transporte.</p>
   <p>A 2MAO cobrará uma taxa de parqueamento de €5/dia</p>
   <p>A 2MAO poderá cobrar outros serviços quando aplicáveis.</p>
   <p>Ao preço dos serviços serão sempre acrescidos todos os impostos ou taxas devidas ao Estado ou a qualquer entidade pública.</p>

   <h4 style="margin-top: 2%; margin-bottom:2%;">Riscos e Taxas de Parqueamento</h4>
   <p>Os riscos decorrentes do parqueamento do artigo até ao momento da sua venda em leilão são da exclusiva responsabilidade do Vendedor e, a partir do momento da venda, são da exclusiva responsabilidade do Vencedor, sem prejuízo de a 2MAO poder assegurar a cobertura desses riscos através da celebração de contrato de seguro.</p>
   <p>Um artigo, ainda que não vendido, que não seja removido das instalações da 2MAO no prazo de 7 dias após o encerramento do leilão, incorrerá no pagamento de uma taxa de parqueamento diária de acordo com a Tabela de Preços em vigor, reservando-se a 2MAO o direito de retenção sobre o artigo para garantia do pagamento da taxa de parqueamento em dívida.</p>

   <h4 style="margin-top: 2%; margin-bottom:2%;">Entrega do VDV</h4>
   <p>Sem prejuízo do disposto nos pontos anteriores, o VDC será entregue pelo Vencedor à 2MAO.</p>
   <p>No momento da inscrição ou em qualquer altura no decurso do leilão, poderá a 2MAO exigir aos Participantes ou aos Vencedores um depósito de caução ou um sinal (no caso de compra).</p>
   <p>O VDC deverá ser entregue à 2MAO no prazo máximo de dois dias após o fecho do leilão do artigo.</p>
   <p>Caso o Vencedor não realize a entrega do VDC no prazo de 3 dias após o fecho do leilão, a 2MAO reserva-se o direito de cancelar a venda e automaticamente bloquear o acesso do Vencedor aos leilões por si realizados.</p>
   <p>A 2MAO só dará autorização de saída do artigo adquirido após efetiva cobrança do VDC.</p>
   <p>O Vencedor perderá o depósito de caução e/ou o sinal em caso de incumprimento das obrigações previstas nos pontos anteriores.</p>

   <h4 style="margin-top: 2%; margin-bottom:2%;">Entrega dos Artigos ao Vencedor</h4>
   <p>Os artigos adquiridos pelos Vencedores só podem ser levantados ou transportados após confirmação do pagamento do VDC.</p>
   <p>Sempre que os artigos leiloados se encontrem em instalações do Vendedor, a entrega ao Vencedor será sempre realizada por transporte organizado pela 2MAO, sendo este custo suportado pelo Vencedor de acordo com a Tabela de Preços em vigor.</p>

   <h4 style="margin-top: 2%; margin-bottom:2%;">Relação entre a 2MAO e o Vendedor</h4>
   <p>A 2MAO só é obrigada a entregar ao Vendedor o valor do artigo vendido quando o respetivo VDC lhe tenha sido entregue e após boa cobrança.</p>
   <p>A 2MAO poderá deduzir o VDV do valor a entregar ao Vendedor relativamente ao artigo vendido.</p>
   <p>O prazo de entrega ao Vendedor dos montantes estipulados nos pontos anteriores não será inferior a 7 dias úteis após a data do leilão em que o artigo foi transacionado.</p>
   <p>A 2MAO poderá reter os valores a entregar ao Vendedor se tiver razões para considerar que existem falsas informações relativamente à propriedade ou aos direitos do Vendedor sobre o artigo vendido.</p>
   <p>A retenção prevista no ponto anterior persistirá enquanto não forem esclarecidas as dúvidas criadas, não tenha sido provada a propriedade do artigo, ou não tenha sido decidida essa questão pelo tribunal competente.</p>
   <p>Para garantia de qualquer quantia em dívida à 2MAO, poderá esta exercer direito de retenção sobre qualquer artigo pertencente ao Vendedor parqueado nas instalações da 2MAO.</p>


   <h4 style="margin-top: 2%; margin-bottom:2%;">Reclamações</h4>
   <p>A 2MAO compromete-se a dar resposta a qualquer reclamação apresentada por escrito via formulário disponível online, desde que devidamente fundamentada e documentada, no prazo de 1 dia útil após a sua receção e a apresentar uma resolução para a mesma no prazo de 15 dias uteis.</p>
   <p>Tendo em conta que se trata de artigos usados podem ser objeto de reclamação as discrepâncias relativas aos seguintes itens, desde que não tenham sido anunciadas no decorrer do leilão:</p>
   <ul>
       <li>Marca</li>
       <li>Modelo</li>
       <li>Condição Aparente</li>
       <li>Acondicionamento</li>
   </ul>
   <p>As eventuais reclamações relativas aos itens identificados no ponto 18.2 deverão ser apresentadas nos seguintes prazos:</p>
   <ul>
    <li>24 horas após a hora de saída do artigo das instalações da 2MAO quando levantada pelo Vencedor;</li>
    <li>3 dias após a hora de saída do artigo das instalações da 2MAO quando enviado pelo Vencedor.</li>
    <li>No caso de o artigo ser transportado através dos serviços de transporte da 2MAO, os prazos mencionados nas alíneas anteriores começam a decorrer no momento da entrega do artigo ao Vencedor e em que este assinar a respetiva guia de transporte.</li>
    <li>Qualquer dos prazos referidos nas alíneas anteriores não podem ultrapassar o limite dos 7 dias seguintes à data do leilão em que o artigo foi adquirido.</li>   
   </ul>
   <p>Até à conclusão de qualquer reclamação, os artigos não deverão ser submetidos a quaisquer intervenções, e a 2MAO não se responsabiliza por quaisquer custos incorridos com eventuais intervenções.</p>




   <h4 style="margin-top: 2%; margin-bottom:2%;">Bloqueio e Desbloqueio de Acesso</h4>
   <p>A 2MAO reserva-se o direito de suspender temporária ou permanentemente a adesão do Participante ou Vencedor e respetivos acessos aos seus leilões pelos seguintes motivos, entre outros:</p>
   <ul>
       <li>Não comunicação ou entrega de qualquer documento solicitado pela 2MAO;</li>
       <li>Incumprimento do prazo de pagamento do VDC de 7 dias após fecho do leilão;</li>
       <li>Apresentar valores por liquidar na conta corrente;</li>
       <li>Comportamento impróprio com qualquer colaborador da 2MAO ou outro interveniente em leilão;</li>
       <li>Divulgação dos seus dados de acesso a terceiros;</li>
       <li>Fraude provada ou tentada, ou qualquer outro comportamento ilícito,</li>
       <li>Tentativa de contacto direto por parte do Participante ou Vencedor com um Vendedor.</li>
   </ul>
   <p>A 2MAO comunicará a suspensão ao Participante ou Vencedor por qualquer meio possível.</p>
   <p>O levantamento da suspensão do Participante ou Vencedor só poderá ocorrer após liquidação de quaisquer quantias em dívida acrescidas de uma Taxa de Reativação de acordo com a Tabela de Preços em vigor.</p>
   <p>O pagamento da Taxa de Reativação não implica automaticamente o levantamento da suspensão. O motivo da suspensão será determinante para a decisão da 2MAO realizar ou não o desbloqueio (a título exemplificativo, o incumprimento dos princípios Éticos da 2MAO e irregularidades relativas a obrigações fiscais automaticamente ditarão um bloqueio permanente da conta do Participante ou Vencedor).</p>


   <h4 style="margin-top: 2%; margin-bottom:2%;">Direitos reservados à 2MAO</h4>
   <p>A 2MAO reserva-se o direito de, nomeadamente:</p>
   <ul>
       <li>Recusar a entrada de qualquer pessoa nas suas instalações;</li>
       <li>Recusar a entrada de qualquer artigo nas suas instalações;</li>
       <li>Recusar a entrada ou a participação nos leilões a qualquer pessoa (singular ou coletiva) que tenha anteriormente desrespeitado qualquer das regras previstas nas condições gerais em vigor;</li>
   </ul>
   <p>Solicitar ao Vendedor ou ao Vencedor a remoção de um artigo das suas instalações, podendo em caso de recusa destes, proceder à referida remoção cobrando-lhe os custos da mesma;</p>
   <p>Fornecer a qualquer das partes do contrato de compra e venda de um determinado lote a identificação da outra;</p>
   <p>Constituir, numerar e ordenar os artigos a apresentar a leilão;</p>
   <p>Reter um artigo enquanto não sejam resolvidas quaisquer questões decorrentes da sua apresentação a leilão e/ou venda.</p>

    <h4 style="margin-top: 2%; margin-bottom:2%;">Adesão e aceitação das presentes condições gerais</h4>
    <p>A adesão aos leilões realizados pela 2MAO é feita pelo preenchimento da ficha de inscrição ou formulário online, bem como pela apresentação de toda a documentação requerida pela 2MAO para confirmar a elegibilidade da empresa para realização de transações comerciais com a 2MAO. A adesão é considerada completa quando o procedimento de inscrição tiver sido realizado corretamente e os códigos de acesso às plataformas da 2MAO tiverem sido emitidos.</p>
    <p>A 2MAO reserva-se o direito de solicitar informações adicionais antes ou depois de validar a adesão. A não apresentação de qualquer documento solicitado resultará na suspensão da conta do Participante até à entrega do mesmo ou, se for o caso, de forma permanente.</p>
    <p>Uma vez completada e validada a adesão, o Participante poderá alterar a sua palavra-chave de acesso às plataformas da 2MAO. É da responsabilidade do Participante a segurança dos seus dados de acesso. Caso o Participante tenha conhecimento de algum tipo de acesso não autorizado ou suspeite da sua incorreta utilização, deverá imediatamente comunicá-lo à 2MAO. Os Participantes que não cumpram com estes procedimentos são responsáveis pela utilização indevida dos seus dados de acesso. Se a utilização indevida for comunicada atempadamente (no prazo máximo de 2 horas após ter conhecimento da utilização indevida dos seus dados de acesso), a 2MAO iniciará o processo de alteração de palavra-chave, suspendendo temporariamente a conta e libertando o Participante da responsabilidade de utilização dos seus dados de acesso.</p>
    <p>As presentes condições constituem um anexo à ficha do artigo e à ficha de inscrição, pelo que o Vendedor, o Vencedor e o Participante aderem, com o preenchimento e assinatura da ficha do artigo e/ou da ficha de inscrição, ao sistema de venda de artigos em leilão organizado e dirigido pela 2MAO, obrigando-se com tal facto a cumprir as presentes condições gerais de compra e venda.</p>
    <p>Sem prejuízo do ponto anterior, estas condições gerais serão fornecidas a todos os interessados, de forma gratuita, e estão afixadas em locais bem visíveis nas instalações da 2MAO onde decorram os leilões.</p>


    <h4 style="margin-top: 2%; margin-bottom:2%;">Lei Aplicável</h4>
    <p>Em tudo o que não esteja expressamente regulado pelas presentes condições gerais, aplicar-se-á subsidiariamente o disposto na lei portuguesa.</p>


    









</div>



{% endblock %}