{% extends 'auctions/dashboard.html' %}
{% block vencidos %}
<div class="row">
    {% for product in winners %}
    <!-- single product -->
    <div class="col-lg-4 col-md-6">
        <div class="single-product" style="background-color: white;">
            <img class="img-fluid" src="{{ product.image.url }}" alt="">
            <div class="product-details"> <center>
                <div class="price">
                    <h6>{{ product.title }}</h6> <br>       
                    <h6>Vencido por: €{{ product.winprice}}</h6>
                </div>                                        
            </center>
            </div>
        </div>
    </div>
    {% endfor %}
                            
    
    {% include 'auctions/paginator.html' with page=products %}
</div>
{% endblock %}