{% extends 'auctions/dashboard.html' %}
{% block wlst %}
<div class="row" style="margin-top:20px;">
    {% if present %}
    {% for item in products %}
    <!-- single product -->
    <div class="col-lg-4 col-md-6">
        <div class="single-product" style="background-color: white;">
            <img class="img-fluid" src="{{ item.imagem1.url }}" alt="">
            <div class="product-details"> 
            <center>
                <div class="price">
                    <a href="{% url 'viewlisting' item.id %}"><h5 class="card-header h5">{{item.title}}</h5></a>     
                    <h6>Licitação Actual: €{{ item.starting_bid}}</h6>
                </div>
                <br>                        
                <a href="{% url 'viewlisting' item.id %}" class="primary-btn" style="border-radius: 2px;">Visualizar</a>
                
            </center>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h4>Sem Leilões na sua watchlist</h4>
    {% endif %}
                            
    {% include 'auctions/paginator.html' with page=products %}
</div>
{% endblock %}