{% extends "auctions/layout.html" %}

{% block content %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>{{ product.title|upper}}</h1>
				</div>
			</div>
		</div>
	</section>

  <br>
  <br>

<div class="container">

  <div class="text-tile">  
    <div class="text-tile__summary">
    <p>A nossa missão é oferecer inspirações para criares o que mais desejas para&nbsp;a tua vida. Para fazer isso, indicamos-te conteúdo e anúncios personalizados que julgamos ser do teu interesse com base em informações que recolhemos através de ti e de terceiros. Usamos estas informações apenas quando temos uma base legal para o fazer.&nbsp;</p>
    <p>
    Escrevemos esta política para ajudar-te a compreender que tipo de informações recolhemos, como são usadas e que escolhas tens. Como somos uma empresa online, alguns dos seguintes conceitos podem ser um pouco técnicos, mas demos o nosso melhor para explicar tudo de forma simples e clara. Agradecemos que envies quaisquer <a href="https://help.2MAO.com/contact">perguntas e comentários</a> sobre esta política.</p>


    </div>  
  </div>

  <div class="text-tile__summary">
      <h4>1. Quando forem dadas por ti ou se nos deres permissão para obtê-las</h4>
  <p>Quando te registares no 2MAO ou utilizares o 2MAO de forma voluntária, estás a partilhar determinadas informações, incluindo o teu nome, endereço de e-mail, número de telefone, fotos, Pins, comentários ou outros dados que tiveres partilhado connosco. Também podes optar por partilhar a tua localização através das definições do teu dispositivo ou nas fotos. Usamos o teu endereço de IP para detetar aproximadamente a tua localização, mesmo se optares por não partilhar a tua localização exata. Também terás a opção para partilhar outros dados sobre ti, como género, idade e idioma preferido.<br />
  <br />
  Se <a href="https://help.2MAO.com/article/link-your-social-media" target="_blank">associares a tua conta ao Facebook, Google</a> ou outra conta externa ao 2MAO, usamos os dados destas contas (como os teus amigos ou contactos) para melhorar a tua experiência no 2MAO. Isto depende das políticas de privacidade ou definições dessas contas.</p>
  <h4>2. Também recebemos informações técnicas quando usas o 2MAO</h4>
  <p>Quando usares um website, aplicação móvel ou outro serviço online, algumas informações de atividade na Internet e redes eletrónicas serão criadas e registadas automaticamente. O mesmo acontece quando usares o 2MAO. Consulta alguns tipos de informações que recolhemos:</p>
  <ul><li><strong>Dados de registo.</strong> Sempre que usares o 2MAO, os nossos servidores registam informações ("dados de registo"), incluindo informações que o teu browser envia automaticamente sempre que visitar um website ou que uma aplicação móvel envia automaticamente sempre que a utilizares. Estes dados de registo incluem o teu endereço IP (que usamos para detetar a tua localização aproximada), o endereço e a atividade em websites que visitares e que incorporem funcionalidades 2MAO (como o botão Guardar—podes consultar abaixo mais informações), pesquisas, tipo de browser e definições, data e hora da solicitação, de que forma usaste o 2MAO, dados de cookies e dados de dispositivos. Podes <a href="https://policy.2MAO.com/technical-information-we-collect-when-you-use-our-service">obter mais pormenores sobre os dados de registo que recolhemos aqui</a>.</li>
  <li><strong>Dados de cookies.</strong> Também usamos "cookies" (pequenos ficheiros de texto enviados pelo teu computador sempre que visitares o nosso website, únicos para a tua conta 2MAO ou do teu browser) ou tecnologias semelhantes para capturar dados de registo. Sempre que usarmos cookies ou outras tecnologias semelhantes, usamos cookies de sessão (a última até que fechas o teu browser) ou cookies persistentes (a última até que tu ou o teu browser as eliminem). Por exemplo, usamos cookies para armazenar as tuas preferências de idioma ou outras definições para que não tenhas de configurá-las sempre que visitares o 2MAO. Alguns cookies que usamos estão associados à tua conta 2MAO (incluindo informações sobre ti, como o endereço de e-mail que indicaste) e outros cookies não. Para informações mais detalhadas sobre como usamos cookies, consulta a nossa <a href="https://policy.2MAO.com/cookies" target="_blank">Política de Cookies</a>.</li>
  <li><strong>Informações do dispositivo.</strong> Para além dos dados de registo, também recolhemos informações sobre o dispositivo em que estás a usar o 2MAO, incluindo o tipo de dispositivo, o sistema operativo, as definições, os identificadores únicos do dispositivo e dados de falha do sistema que nos ajudem a compreender alguns erros.</li>
  <li><strong>Sequências de cliques e inferências.</strong> Quando usares o 2MAO, utilizaremos a tua atividade (como os Pins em que clicares, álbuns que criares ou texto que adicionares a um comentário ou descrição), assim como os dados que forneceres no registo e informações dos nossos parceiros e anunciantes para fazer inferências sobre ti e as tuas preferências. Por exemplo, se criares um álbum sobre viagens, podemos inferir que és um entusiasta das viagens. Também podemos inferir dados sobre a tua educação e experiência profissional com base na tua atividade se associares a tua conta a contas externas, como <a href="https://help.2MAO.com/article/link-your-social-media">Facebook ou Google</a>.</li>
  </ul><h4>3. Os nossos parceiros e anunciantes partilham informações connosco</h4>
  <p>Também obtemos informações sobre ti e sobre a tua atividade fora do 2MAO a partir dos nossos afiliados, anunciantes, parceiros e terceiros com quem colaboramos. Por exemplo:</p>
  <ul><li>Alguns <em>websites</em> ou aplicações usam funcionalidades do 2MAO, como o nosso botão “Guardar”, ou podes instalar o botão “Guardar” no teu <em>browser</em>. Se o fizeres, recolheremos dados de registo desses <em>sites</em> ou aplicações. <a href="https://help.2MAO.com/article/save-pins-with-the-2MAO-browser-button">Sabe mais sobre estas funcionalidades no nosso Centro de Ajuda</a>.</li>
  <li>Os anunciantes online ou terceiros partilham informações com o 2MAO para medir, analisar ou melhorar o desempenho de anúncios no 2MAO ou para descobrir que tipo de anúncios devem-te ser apresentados no 2MAO ou fora do 2MAO. Isto inclui informações sobre as tuas visitas a websites de anunciantes, compras que tenhas feito nesses websites ou informações sobre os teus interesses através de serviços de terceiros e que nos possam ter ajudado a mostrar-te os anúncios mais adequados. <a href="https://help.2MAO.com/article/personalized-ads-on-2MAO">Sabe mais</a> sobre que tipo de informações os anunciantes ou outros serviços de terceiros partilham connosco.</li>
  </ul>

  </div>




  <div class="headline u-full-width" data-mobile-layout="false" id="headline--785541140">

  <div class="headline__inner l-smart-grid" data-row-items-large="2">
  <header class="headline__header">
        <h2 class="headline__title">
      O que fazemos com as informações recolhidas

  </h2>

    

        </header>

  <div class="headline__content">

          
      <ul class="subhead-list">
  <li class="subhead-list__item">


  <div class="text-tile">

    
    
        <div class="text-tile__summary">
      <h4>Comprometemo-nos a apresentar-te conteúdo relevante, interessante e pessoal. Para fazê-lo, usamos os teus dados para fornecer e melhorar a tua experiência, incluindo:</h4>
  <ul><li>Identificar-te quando usares o 2MAO.</li>
  <li>Recomendar Pins, álbuns, tópicos ou categorias que possas gostar com base na tua atividade no 2MAO. Por exemplo, se concluirmos que gostas de culinária, podemos sugerir Pins, álbuns ou pessoas relacionadas com comida que julguemos que possas gostar ou apresentar-te anúncios sobre culinária.</li>
  <li>Responder às tuas perguntas ou comentários.</li>
  </ul><p>Temos um interesse legítimo em usar os teus dados destas formas. É essencial para fornecermos o serviço do 2MAO e para tornar o 2MAO e as suas funcionalidades relevantes e personalizadas para ti.</p>
  <p>Também temos um interesse legítimo em tornar o 2MAO num local seguro e melhorar as características do nosso produto para poderes continuar a encontrar a inspiração que procuras. Ambas as partes tiram partido quando usam os teus dados para:</p>
  <ul><li>Sugerir outras pessoas que tenham interesses semelhantes. Por exemplo, se seguires álbuns de design de interiores, podemos sugerir designers de interiores que possas gostar.</li>
  <li>Ajudar os teus amigos e contactos a encontrarem-te no 2MAO, se concordares com isso nas tuas definições. Por exemplo, se te inscreveres com uma conta do Facebook, podemos ajudar os teus amigos no Facebook a encontrarem-te no 2MAO quando eles também se inscreverem no 2MAO. Ou poderão procurar a tua conta no 2MAO através do teu e-mail.</li>
  <li>Colaborar com as autoridades para manter o 2MAO seguro. Podemos obter pedidos de autoridades para revelar informações de contas, como, por exemplo, a polícia ou tribunais. Para saber mais sobre como podemos responder a pedidos de autoridades, consulta as nossas <a href="https://help.2MAO.com/article/law-enforcement-guidelines">Diretrizes de Aplicação da Lei</a>.</li>
  <li>Analisar as tuas mensagens no 2MAO para detetar atividade que represente um risco para a tua segurança, para a segurança da tua comunidade e/ou para o público em geral.</li>
  <li>Fazer análises e fazer investigações sobre quem usa o 2MAO e sobre as suas ações. Por exemplo, ao registar a frequência com que se usa duas versões diferentes de uma funcionalidade do 2MAO, podemos descobrir qual das versões é superior.</li>
  <li>Melhorar o 2MAO e oferecer novas funcionalidades.</li>
  <li>Anunciar produtos e serviços do 2MAO a ti noutros websites. Podes optar por não partilhar os teus dados com outros websites para personalizar esses anúncios, conforme descrito na secção “<a href="https://policy.2MAO.com/privacy-policy#section-choices-you-have-about-your-info">Escolhas que podes fazer quanto às tuas informações</a>” abaixo.</li>
  <li>Enviamos-te atualizações (sobre em que momentos determinadas atividades, como Pins guardados ou comentários, acontecem no 2MAO) e notícias por e-mail ou notificações, dependendo das opções nas tuas definições. Por exemplo, enviamos atualizações semanais que incluem Pins que achamos que podes gostar. Podes optar por <a href="https://help.2MAO.com/article/edit-notification-settings">deixar de receber estas notificações</a> ao atualizares as tuas <a href="https://www.2MAO.com/settings/">definições</a>.</li>
  </ul><p>Temos um interesse legítimo em mostrar-te anúncios relevantes, interessantes e pessoais para gerar receita. Para prosseguir estes interesses, usamos as informações que recolhemos para:</p>
  <ul><li>Decidir que anúncios te devemos divulgar. Por exemplo, se demonstrares um interesse em tendas de campismo no 2MAO, podemos mostrar-te anúncios sobre produtos de campismo. Personalizamos o conteúdo de anúncios que mostramos para identificar os teus interesses com base nas tuas atividades dentro e fora do 2MAO e também usamos informações obtidas de parceiros de anúncios ou terceiros. Quando usamos cookies para identificar os teus interesses offline, obtemos autorização quando for necessário. Quando parceiros de anúncios ou terceiros partilham connosco as tuas informações, iremos reagir conforme o consentimento que já tenham obtido.</li>
  <li>Comunicar aos nossos parceiros de anúncios qual o desempenho dos seus anúncios no 2MAO e como melhorá-los. Algumas destas informações são agregadas. Por exemplo, informamos a um anunciante que uma determinada percentagem de pessoas que visualizaram um Pin promocional visitaram o website desse anunciante. Noutros casos, estas informações não são agregadas. Por exemplo, informamos um anunciante de que um determinado Pin promocional foi guardado por determinadas pessoas. Para saberes mais sobre relatórios de anúncios, <a href="https://help.2MAO.com/articles/ads-performance-reporting-2MAO">visita o Centro de Ajuda</a>.</li>
  </ul><p>Temos um interesse legítimo em usar as informações recolhidas para personalizar a tua experiência no 2MAO com base na tua utilização fora do 2MAO. Por exemplo, se visitares websites que vendam guitarras elétricas, poderemos sugerir Pins de guitarras. Quando identificamos os teus interesses com base na tua utilização fora do 2MAO com o uso de cookies, obtemos qualquer consentimento que possamos precisar. Para saber mais sobre como usamos cookies, consulta a nossa <a href="https://policy.2MAO.com/cookies">Política de Cookies</a>.</p>
  <p>Além das circunstâncias específicas acima indicadas, apenas daremos uso às tuas informações com o teu consentimento para:</p>
  <ul><li>Permitir pesquisa com fotos. Por exemplo, se tirares uma fotografia de um par de sapatos ou de uma peça de mobiliário que gostares, podes pedir-nos para que te mostremos artigos semelhantes. Podes ativar esta opção nas definições do sistema operativo do teu dispositivo.</li>
  <li>Enviar materiais de marketing por e-mail, mensagens de texto, notificações ou chamadas telefónicas, dependendo das configurações da tua conta ou do sistema operativo. Sempre que enviarmos materiais de marketing, damos-te a opção de cancelar o registo no 2MAO.</li>
  <li>Identificar a tua localização exata e personalizar o conteúdo que mostramos. Por exemplo, se soubermos que estás perto de um vendedor, podemos apresentar-te Pins desse vendedor e que possam ser do teu interesse. Podes ativar esta opção nas definições do sistema operativo do teu dispositivo.</li>
  <li>Comunicar aos nossos parceiros de anúncios qual o desempenho dos seus anúncios com a Tag do 2MAO. A tag do 2MAO (um pedaço de código que um anunciante coloca no seu website) dá-nos a nós e aos nossos parceiros de publicidade perspetivas sobre as ações que uma pessoa realiza no respetivo website depois de ver um anúncio no 2MAO. <a href="https://help.2MAO.com/article/personalization-and-data">Para saber mais sobre a Tag do 2MAO, visita o Centro de Ajuda</a>.</li>
  </ul><p>Também dependemos do teu consentimento de quando usamos cookies para:</p>
  <ul><li>Identificar-te em sessões diferentes do browser. Isto significa que se iniciares sessão no 2MAO a partir do teu telemóvel (ou de qualquer dispositivo), iremos recordar-te que não precisas de inserir os teus dados de início de sessão sempre que visitares o 2MAO.</li>
  <li>Mostrar-te anúncios nos quais podes estar interessado. Usamos cookies para identificar os teus interesses com base na tua atividade fora do 2MAO. Agimos desta forma para utilizadores existentes e para novos utilizadores de forma a personalizar uma nova experiência de utilizador no 2MAO.</li>
  </ul><p>Para saber mais sobre como usamos cookies e sobre as tuas escolhas sobre como os devemos usar, consulta a nossa <a href="https://policy.2MAO.com/cookie-policy-preview">Política de Cookies</a>.</p>


  </div>

    
  </div>

  </li>
  </ul>


  </div>
  </div>

  </div>
  </section>

  <a id="section-transferring-your-information" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
  <section class="u-anim-fade-in" data-anim-trigger="view">


  <div class="headline u-full-width" data-mobile-layout="false" id="headline--673184109">

  <div class="headline__inner l-smart-grid" data-row-items-large="2">
  <header class="headline__header">
        <h2 class="headline__title">
      Transferir as tuas informações

  </h2>

    

        </header>

  <div class="headline__content">

          
      <ul class="subhead-list">
  <li class="subhead-list__item">


  <div class="text-tile">

    
    
        <div class="text-tile__summary">
      <p>O 2MAO é um serviço global. Ao usares os nossos produtos e serviços, estás a autorizar a transferência e armazenamento das tuas informações fora do teu país de origem, inclusive nos Estados Unidos, para os fins descritos nesta política. As proteções de privacidade e os direitos das autoridades em aceder às tuas informações pessoais nesses países podem não ser equivalentes aos do teu país de origem.</p>
  <p>Consulta a <a href="/privacy-policy#section-residents-of-the-eea">secção relativa a residentes do EEE</a> para saber mais sobre as transferências de dados a partir desta região e para a mesma.</p>


  </div>

    
  </div>

  </li>
  </ul>


  </div>
  </div>

  </div>
  </section>

  <a id="section-choices-you-have-about-your-info" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
  <section class="u-anim-fade-in" data-anim-trigger="view">


  <div class="headline u-full-width" data-mobile-layout="false" id="headline--1725599235">

  <div class="headline__inner l-smart-grid" data-row-items-large="2">
  <header class="headline__header">
        <h2 class="headline__title">
      Escolhas que podes fazer quanto às tuas informações

  </h2>

    

        </header>

  <div class="headline__content">

          
      <ul class="subhead-list">
  <li class="subhead-list__item">


  <div class="text-tile">

    
    
        <div class="text-tile__summary">
      <p>O nosso objetivo é dar-te escolhas simples e significativas referentes às tuas informações. Se tiveres uma conta no 2MAO, muitas das opções que tens no 2MAO são criadas diretamente no 2MAO ou nas tuas definições. Por exemplo, poderás:</p>
  <ul><li><a href="https://help.2MAO.com/article/edit-your-profile">Editar informações no teu perfil</a> a qualquer momento, decidir se o teu perfil fica disponível em motores de pesquisa ou escolher se as outras pessoas podem encontrar a tua conta do 2MAO através do teu endereço de e-mail.</li>
  <li><a href="https://help.2MAO.com/article/link-your-social-media">Associar ou não a tua conta do 2MAO</a> a partir de outros serviços (como Facebook, Google ou Twitter). Em alguns serviços (como o Facebook), também podes decidir se preferes ou não publicar a tua atividade no 2MAO nesse serviço.</li>
  <li><a href="https://help.2MAO.com/article/secret-boards">Editar as definições de álbuns secretos</a>. Os álbuns secretos são visíveis para ti e outros colaboradores do álbum e qualquer colaborador pode optar por disponibilizar o álbum a qualquer outra pessoa. Por exemplo, outro colaborador pode convidar outra pessoa para o álbum, disponibilizar o álbum numa aplicação utilizada para seguir o 2MAO ou tirar uma fotografia do álbum e enviá-la por e-mail para os seus amigos.</li>
  <li><a href="https://help.2MAO.com/article/edit-personalization-settings">Escolher se o 2MAO será personalizado para ti através das informações de outros websites ou aplicações</a>. Se tiveres uma conta no 2MAO e pretenderes controlar a forma como os teus dados externos são usados para individualizar a tua experiência, podes aceder<a href="https://help.2MAO.com/article/edit-personalization-settings">às tuas definições</a> e atualizar as tuas preferências de "Personalização".</li>
  <li>Escolher se queres ver anúncios do 2MAO personalizados através de dados relacionados com a tua atividade na conta noutras plataformas, sites ou apps. Podes controlar esta opção ao aceder às <a href="https://www.2MAO.com/settings/">tuas definições</a>e atualizar as preferências de "Personalização".</li>
  <li>Escolher se aceitas que o 2MAO partilhe dados sobre a tua atividade no 2MAO para criar relatórios de desempenho de anúncios. Podes controlar esta opção ao aceder às <a href="https://www.2MAO.com/settings/privacy">tuas definições</a>e atualizar as tuas preferências de "Personalização".</li>
  <li><a href="https://help.2MAO.com/article/deactivate-or-close-your-account">Encerrar a conta em qualquer momento</a>. Quando encerrares a tua conta, iremos desativá-la, remover os teus Pins e álbuns do 2MAO e eliminar os dados da tua conta. Tem em atenção que talvez sejamos obrigados a manter os teus dados devido a obrigações jurídicas, por exemplo, se recebermos uma solicitação legal a pedir que os guardemos. Também poderemos reter determinadas informações nos nossos sistemas de arquivo por um período de tempo limitado ou conforme indicado pela lei.</li>
  </ul><p>Também fornecemos outras definições, como a Limitação da Deteção de Anúncios, no iOS, a Personalização de Anúncios, em dispositivos Android, e a função <a href="https://help.2MAO.com/article/do-not-track">Do Not Track</a> em browsers. <a href="https://help.2MAO.com/article/do-not-track">Podes saber mais acerca da forma como a função Do Not Track afeta a recolha e utilização dos dados externos ao 2MAO</a>.</p>
  <p>Também tens opções disponíveis no dispositivo ou software que usas para aceder ao 2MAO. Por exemplo:</p>
  <ul><li>O teu browser permite controlar cookies ou outro tipo de armazenamento de dados locais.</li>
  <li>O teu dispositivo móvel permite escolher como e se a tua localização, fotos, contactos e outros dados são partilhados connosco.</li>
  </ul><p>Para saber mais sobre estas opções, consulta as informações fornecidas pelo teu dispositivo ou fornecedor de software.</p>
  <p> </p>


  </div>

    
  </div>

  </li>
  </ul>


  </div>
  </div>

  </div>
  </section>

  <a id="section-how-and-when-we-share-information" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
  <section class="u-anim-fade-in" data-anim-trigger="view">


  <div class="headline u-full-width" data-mobile-layout="false" id="headline--1927845399">

  <div class="headline__inner l-smart-grid" data-row-items-large="2">
  <header class="headline__header">
        <h2 class="headline__title">
      Como e quando partilhamos as informações

  </h2>

    

        </header>

  <div class="headline__content">

          
      <ul class="subhead-list">
  <li class="subhead-list__item">


  <div class="text-tile">

    
    
        <div class="text-tile__summary">
      <p>Qualquer pessoa pode ver os álbuns públicos e os Pins criados por ti e as informações de perfil que nos possas fornecer. Também disponibilizamos estas informações públicas através de APIs (uma forma técnica de partilhar informações de forma rápida). Por exemplo, um parceiro pode estudar quais os Pins com mais sucesso ou de que forma os Pins são partilhados no 2MAO através de uma API do 2MAO. Também partilhamos as tuas informações com:</p>
  <ul><li>Outros serviços fornecidos, para poderes inscrever-te ou iniciar sessão no 2MAO, ou se decidires <a href="https://help.2MAO.com/article/link-your-social-media">associar a tua conta do 2MAO</a> a esses serviços, como o Facebook ou o Google, ou publicar os teus conteúdos do 2MAO nesses serviços. Por exemplo, se optares por publicar os teus Pins no Facebook ou no Twitter, os dados sobre esses conteúdos serão partilhados com o Facebook ou o Twitter.</li>
  <li>Serviços que utilizamos recorrentemente para publicitar o 2MAO noutros sites e apps, como Facebook Ads, Google Marketing Platform, Microsoft Advertising, LinkedIn Advertising, The Trade Desk e outros. Podes desativar a partilha com estes serviços de publicidade nas definições.</li>
  <li>Os anunciantes online e terceiros aos quais recorremos para auditar ou melhorar a apresentação e o desempenho de anúncios ou conteúdo em websites e aplicações (por exemplo, através do Google Analytics). Inclui quais os Pins ou anúncios que foram apresentados no 2MAO e se interagiste com estes Pins ou anúncios, ou outras informações sobre a tua atividade no 2MAO. <a href="https://help.2MAO.com/article/personalized-ads-on-2MAO">Sabe mais</a> sobre como partilhamos informações com anunciantes online. Para saber mais sobre terceiros que analisam desempenhos de anúncios, <a href="https://help.2MAO.com/article/personalized-ads-on-2MAO">visita o Centro de Ajuda</a>.</li>
  <li>As empresas externas, fornecedores de serviços ou indivíduos aos quais recorremos para processar informações para nós com base em instruções nossas e em conformidade com esta Política de Privacidade. Por exemplo, partilhamos dados com consultores de segurança para nos ajudarem a melhorar a identificação de spam. Algumas informações que adquirimos podem ser recolhidas por terceiros para nosso proveito.</li>
  <li>Autoridades ou agências governamentais. Apenas partilhamos informações se acreditarmos que a divulgação é necessária para cumprir uma lei, um regulamento ou uma solicitação legal; para proteger a segurança, os direitos ou propriedade pública, de qualquer pessoa ou do 2MAO; ou para detetar, prevenir ou resolver questões técnicas, de fraude ou segurança.</li>
  <li>As nossas subsidiárias e afiliadas totalmente detidas. Se o 2MAO estiver envolvido numa fusão, aquisição, falência, dissolução, reorganização, transação ou processo semelhante que envolva a transferência de informações descritas nesta Política, partilharemos as tuas informações com uma parte envolvida nesse processo (por exemplo, com um potencial comprador).</li>
  </ul>

  </div>

    
  </div>

  </li>
  </ul>


  </div>
  </div>

  </div>
  </section>

  <a id="section-how-long-we-keep-your-information" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
  <section class="u-anim-fade-in" data-anim-trigger="view">


  <div class="headline u-full-width" data-mobile-layout="false" id="headline--2011479283">

  <div class="headline__inner l-smart-grid" data-row-items-large="2">
  <header class="headline__header">
        <h2 class="headline__title">
      Durante quanto tempo guardamos as tuas informações

  </h2>

    

        </header>

  <div class="headline__content">

          
      <ul class="subhead-list">
  <li class="subhead-list__item">


  <div class="text-tile">

    
    
        <div class="text-tile__summary">
      <p>Manteremos as tuas informações apenas enquanto precisarmos delas para te fornecer os serviços do 2MAO e cumprir as finalidades indicadas nesta política. Este também será o caso de qualquer pessoa com quem partilhemos as tuas informações e que realizem serviços para nosso proveito. Quando deixarmos de precisar de usar as tuas informações e não for necessário mantê-las em conformidade com as nossas obrigações legais ou regulamentares, serão removidas dos nossos sistemas ou serão despersonalizadas de forma a que não sejam identificadas.</p>


  </div>

    
  </div>

  </li>
  </ul>


  </div>
  </div>

  </div>
  </section>

  <a id="section-our-policy-on-childrens-information" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
  <section class="u-anim-fade-in" data-anim-trigger="view">


  <div class="headline u-full-width" data-mobile-layout="false" id="headline--454468474">

  <div class="headline__inner l-smart-grid" data-row-items-large="2">
  <header class="headline__header">
        <h2 class="headline__title">
      A nossa política quanto a informações de crianças

  </h2>

    

        </header>

  <div class="headline__content">

          
      <ul class="subhead-list">
  <li class="subhead-list__item">


  <div class="text-tile">

    
    
        <div class="text-tile__summary">
      <p>As crianças menores de 13 anos não estão autorizadas a usar o 2MAO. Se residires no EEE, talvez apenas possas utilizar o 2MAO se tiveres idade para fornecer uma autorização para processarmos os teus dados de acordo com as leis do teu país.</p>


  </div>

    
  </div>

  </li>
  </ul>


  </div>
  </div>

  </div>
  </section>

  <a id="section-your-options" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
  <section class="u-anim-fade-in" data-anim-trigger="view">


  <div class="headline u-full-width" data-mobile-layout="false" id="headline--1615834029">

  <div class="headline__inner l-smart-grid" data-row-items-large="2">
  <header class="headline__header">
        <h2 class="headline__title">
      As tuas opções

  </h2>

    

        </header>

  <div class="headline__content">

          
      <ul class="subhead-list">
  <li class="subhead-list__item">


  <div class="text-tile">

    
    
        <div class="text-tile__summary">
      <p>Tens opções em relação às informações que detemos sobre ti. Para exercer estas opções, acede às <a href="https://www.2MAO.com/settings/privacy">definições da tua conta</a> e, se continuares a precisar de ajuda, visita o nosso <a href="https://help.2MAO.com/">Centro de Ajuda</a>.</p>
  <ul><li>Pedir acesso às informações que recolhemos e temos sobre ti. Normalmente, iremos partilhá-las contigo dentro de 30 dias <a href="https://help.2MAO.com/contact?current_page=about_you_page&amp;personal_data=personal_data_view">após o teu pedido, efetuado através do Centro de Ajuda</a>.</li>
  <li>Corrigir ou eliminar as tuas informações. Podes atualizar as tuas informações no teu perfil e eliminar os teus dados ao <a href="https://help.2MAO.com/article/deactivate-or-close-your-account">fechar a tua conta</a>.</li>
  <li>Recusar que processemos as tuas informações. Podes pedir-nos para parar de usar as tuas informações, inclusive quando as utilizamos para enviar e-mails de marketing ou notificações. Se optares por não receber as nossas mensagens de marketing, poderemos continuar a enviar atualizações sobre a tua conta, como quando alguém comentar num dos teus Pins.</li>
  <li>Enviar as tuas informações para outra organização, onde guardamos informações tuas com o teu consentimento ou para o desempenho de um contrato contigo, onde seja possível tecnicamente.</li>
  <li>Pedir mais detalhes sobre os dados que recolhemos e sobre a forma e de que forma são utilizados e partilhados.</li>
  </ul><p>Não descriminamos contra ti se optares por exercer estas opções relacionadas com os teus dados pessoais. Esforçamo-nos por sermos transparentes em relação às tuas opções e às consequências por exerceres determinadas opções. Se tiveres alguma dúvida, <a href="https://help.2MAO.com/contact">entra em contacto connosco</a>.<br />
  </p>


  </div>

    
  </div>

  </li>
  </ul>


  </div>
  </div>

  </div>
  </section>

  <a id="section-residents-of-the-eea" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
  <section class="u-anim-fade-in" data-anim-trigger="view">


  <div class="headline u-full-width" data-mobile-layout="false" id="headline--449525829">

  <div class="headline__inner l-smart-grid" data-row-items-large="2">
  <header class="headline__header">
        <h2 class="headline__title">
      Residentes do EEE

  </h2>

    

        </header>

  <div class="headline__content">

          
      <ul class="subhead-list">
  <li class="subhead-list__item">


  <div class="text-tile">

    
    
        <div class="text-tile__summary">
      <p>Se tiveres alguma dúvida sobre as nossas atividades de processamento de dados, o controlador de dados que deves contactar é a 2MAO Europe Ltd., uma empresa irlandesa com sede em Palmerston House, 2nd Floor, Fenian Street, Dublin 2, Irlanda. Também podes entrar em contacto com o nosso <a href="https://help.2MAO.com/data-protection-officer-contact-form">Agente de Proteção de Dados</a>.</p>
  <p>Se julgares que não cumprimos alguma lei de proteção de dados, tens o direito de apresentar uma reclamação ao Gabinete do Comissário de Proteção de Dados na Irlanda ou a uma autoridade local de supervisão.</p>
  <p>Como o 2MAO é um serviço utilizado a nível mundial, podemos transferir dados pessoais de residentes no EEE para um país fora do EEE. Nos casos em que transferimos informações do EEE para um país que não ofereça um nível adequado de proteção, apenas o faremos em conformidade com as salvaguardas apropriadas para proteger as tuas informações, como cláusulas contratuais padrão.</p>


  </div>

    
  </div>

  </li>
  </ul>


  </div>
  </div>

  </div>
  </section>

  <a id="section-california-residents" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
  <section class="u-anim-fade-in" data-anim-trigger="view">


  <div class="headline u-full-width" data-mobile-layout="false" id="headline--773479551">

  <div class="headline__inner l-smart-grid" data-row-items-large="2">
  <header class="headline__header">
        <h2 class="headline__title">
      Residentes da Califórnia

  </h2>

    

        </header>

  <div class="headline__content">

          
      <ul class="subhead-list">
  <li class="subhead-list__item">


  <div class="text-tile">

    
    
        <div class="text-tile__summary">
      <p>A California Consumer Privacy Act (Lei de Privacidade dos Consumidores da Califórnia) (CCPA) requer que divulguemos as categorias de Dados Pessoais que recolhemos e de que forma são usadas, as categorias de fontes de onde recolhemos Dados Pessoais e os terceiros com quem os partilhamos, conforme explicámos acima.</p>
  <p>Nos últimos doze meses, recolhemos dados pessoais de ti, dos teus dispositivos, dos nossos parceiros, de terceiros e das categorias de fontes descritas de outra forma na secção <a href="https://policy.2MAO.com/privacy-policy#section-we-collect-information-in-a-few-different-ways">"Recolhemos informações de várias formas"</a> nesta Política de Privacidade.</p>
  <p>A mesma lei exige que comuniquemos informações sobre os direitos dos residentes da Califórnia, de acordo com as leis da Califórnia. Podes exercer os seguintes direitos:</p>
  <ul><li>Direito a Saber e a Aceder. Podes enviar um pedido verificável para receber informações sobre: (1) as categorias de Dados Pessoas que recolhemos, utilizamos ou partilhamos; (2) os motivos pelos quais as categorias de Dados Pessoais são recolhidas ou utilizadas por nós; (3) as categorias de fontes usadas para a recolha de Dados Pessoais; e (4) elementos específicos dos Dados Pessoais que tenhamos recolhido sobre ti.</li>
  <li>Direito à Igualdade de Serviço. Não te discriminamos se optares por exercer os teus direitos de privacidade.</li>
  <li>Direito a Eliminar. Podes enviar um pedido verificável para encerrar a tua conta e eliminaremos os Dados Pessoais que tenhamos recolhido sobre ti.</li>
  </ul><p>Para verificarmos a tua identidade quando fizeres um pedido, terás de iniciar sessão na tua conta protegida por palavra-passe ou responder a uma verificação por e-mail.</p>
  <p>Não vendemos os Dados Pessoais dos nossos utilizadores.</p>
  <p>Para mais informações sobre estes direitos, consulta a secção "Escolhas que podes fazer quanto às tuas informações" acima. Para exerceres os teus direitos, <a href="https://help.2MAO.com/contact?current_page=about_you_page&amp;personal_data=personal_data_view">visita o nosso Centro de Ajuda</a> ou entra em contacto connosco através do <em>e-mail</em> <span class="spamspan"><span class="u">privacy-support</span> [at] <span class="d">2MAO.com</span></span>. </p>
  <p>Para além de poderes exercer estes direitos, também podes designar um agente autorizado a fazer estes pedidos em teu nome. Para fazê-lo, terás de verificar o pedido diretamente por e-mail ou através da tua conta protegida por palavra-passe.</p>
  <p>Recolhemos as seguintes categorias de Dados Pessoais e, nos últimos 12 meses, partilhámos estas categorias de Dados Pessoais, para fins comerciais, com afiliados, prestadores de serviços e terceiros, conforme descrito na secção <a href="https://policy.2MAO.com/privacy-policy#section-how-and-when-we-share-information">Recolhemos informações de várias formas</a> desta Política de Privacidade:</p>
  <ul><li>Identificadores, como o teu nome, nome de utilizador, endereço de e-mail, número de telefone, identificadores únicos de dispositivos e o teu endereço IP</li>
  <li>Características pessoais protegidas pela lei, como o teu género e a tua idade</li>
  <li>Dados comerciais, como as compras efetuadas e os dados de pagamento</li>
  <li>Dados de atividades na Internet ou em redes eletrónicas, como dados sobre o teu dispositivo e a tua utilização dos nossos Serviços</li>
  <li>Dados de geolocalização, quando partilhados através das definições ou fotos do teu dispositivo</li>
  <li>Dados eletrónicos, visuais ou semelhantes, como fotos ou a tua imagem de perfil</li>
  <li>Dados profissionais ou de emprego, se associares a tua conta a outras contas</li>
  <li>Inferências que fazemos acerca dos utilizadores, como os teus interesses ou preferências</li>
  <li>Outros dados que forneceres, como a tua biografia, Pins e comentários</li>
  </ul><p>Usamos e divulgamos estes dados para os fins comerciais descritos na secção <a href="https://policy.2MAO.com/privacy-policy#section-what-we-do-with-the-info-we-collect">Recolhemos informações de várias formas</a> nesta Política de Privacidade, incluindo: fornecer o nosso Serviço, comunicar contigo para partilhar atualizações ou responder aos teus comentários e perguntas, auditar o nosso Serviço, detetar incidentes de segurança e impedir fraudes, corrigir e reparar erros, fazer a manutenção da tua conta, oferecer apoio a clientes, processar ou cumprir ordens, realizar atividades de investigação e desenvolvimento e outras destinadas a melhorar o nosso Serviço, apresentar anúncios, comercializar os nossos Serviços e compreender a forma como os utilizadores interagem com os nossos Serviços.</p>


  </div>

    
  </div>

  </li>
  </ul>


  </div>
  </div>

  </div>
  </section>

  <a id="section-how-we-make-changes-to-this-policy" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
  <section class="u-anim-fade-in" data-anim-trigger="view">


  <div class="headline u-full-width" data-mobile-layout="false" id="headline--271099067">

  <div class="headline__inner l-smart-grid" data-row-items-large="2">
  <header class="headline__header">
        <h2 class="headline__title">
      Que alterações vamos fazer a esta política

  </h2>

    

        </header>

  <div class="headline__content">

          
      <ul class="subhead-list">
  <li class="subhead-list__item">


  <div class="text-tile">

    
    
        <div class="text-tile__summary">
      <p>Podemos alterar esta política frequentemente. Se o fizermos, publicaremos as alterações nesta página. Se continuares a usar o 2MAO após essas alterações entrarem em vigor, aceitas e concordas com a nova política. Se as alterações forem significativas, poderemos fornecer um aviso mais proeminente ou pedir o teu consentimento, conforme exigido por lei.</p>


  </div>

    
  </div>

  </li>
  </ul>


  </div>
  </div>

  </div>
  </section>

  <a id="section-contact-us" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
  <section class="u-anim-fade-in" data-anim-trigger="view">


  <div class="headline u-full-width" data-mobile-layout="false" id="headline--379597258">

  <div class="headline__inner l-smart-grid" data-row-items-large="2">
  <header class="headline__header">
        <h2 class="headline__title">
      Contacta-nos

  </h2>

    

        </header>

  <div class="headline__content">

          
      <ul class="subhead-list">
  <li class="subhead-list__item">


  <div class="text-tile">

    
    
        <div class="text-tile__summary">
      <p>A melhor forma de entrares em contacto connosco ou exerceres as tuas opções acima descritas é através do <a href="https://help.2MAO.com/contact">Centro de Ajuda</a>. Se residires nos Estados Unidos, a 2MAO, Inc. é responsável pelas tuas informações. Podes entrar em contacto com a 2MAO Inc. através da morada: 651 Brannan Street, San Francisco, CA 94107, EUA.</p>
  <p>Data de entrada em vigor: 2 de setembro de 2020<br />
  Última atualização: 2 de setembro de 2020</p>


  </div>

    
  </div>

  </li>
  </ul>


  </div>
  </div>

  </div>
  </section>


  </article>
</div>
{% endblock %}