{% extends "auctions/layout.html" %}
<title>{% block title %}2ª Mão | Leilões terminados {% endblock %}</title>
{% block body %}
    <br>
    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <!-- Jumbotron -->
    <div class="jumbotron text-center">
        <!-- Title -->
        <h2 class="card-title h2">LEILÕES TERMINADOS NA ÚLTIMA SEMANA</h2>
        <!-- Subtitle -->
        <p class="black-text my-4 font-weight-bold">Consulte são os Leilões terminados na última semana.</p>

        <!-- Grid row -->
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr ; grid-gap: 10px; ">
        <!-- Grid column -->
        <!--<div class="col-xl-7 pb-2">-->
       <!-- <div class="col-md-6 col-lg-4 column">
            <div class="card gr-1">-->
            {% if empty %}
                <br>
                <img src="https://2mao.pt/images/img/foractive.svg" alt="indeximage" style="height: 350px;" class="embed-responsive">
                <br> <br> <br>
                <div>Sem ofertas disponíveis</div>
            {% else %} 

        {% for terminados in terminados %}

            {% for product in products %}
            <div >
                <div class="card item-card card-block">
                
                <!-- Title -->
                <h4 class="card-title"><strong>{{product.titulo}}</strong></h4>
                <center><img src="{{ product.imagem1.url }}" alt="{{ product.title }}" style="max-height: 250px; max-width: 250px;"></center>
                <p class="card-text" style="padding: 10px; text-align: center;">{{product.excerto}}</p> 
                    <!-- seller -->
                    <p class="font-weight-bold">Vendedor: {{product.vendedor}} <br> </p>
                    <!-- winner -->
                    <p class="font-weight-bold">Vencedor: {{product.vencedor}} <br> </p>
                    <!-- Price -->
                    <p class="font-weight-bold">Melhor Oferta: €{{product.montante}} <br> </p>
                
                
                </div>
            </div>
            {% endfor %}
        {% endfor %}
            {% include 'auctions/paginator.html' with page=products %}
            <br>
            <br>

               
            {% endif %} </div>
        </div>
    </div>



        
    <!-- Jumbotron -->
{% endblock %}